 .leftSide {
            background-color: #3b5f72;
        }

        .title {
            font-size: 30px;
            color: #FFFFFF;
        }

        /* if you want to display a style of li then you have to manually add a style for it*/
        ul li {
            list-style: none;
        }

        .menuItem {
            font-size: 20px;
        }

        .menuItem a:link,
        .menuItem a:visited {
            color: #FFFFFF;
        }

        .errorMissing {
            border-color: red;
        }